<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header>
            <img src="/img/logo.png" width="64px" height="64px" alt="Logo">
        </header>
        {{{body}}}
    </body>
</html>